.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 100px;
  margin-left: 15px;
}

.nav a {
  margin: 10px;
}

.active {
  color: #0070f3;
}

.inActive {
  color: white;
}
